{% extends "base.html" %}

{% block header %}
<header class='hero'>
  <div class='hero-body pb-0'>
    <div class='container'>
      <div class='has-text-centered'>
        <h1 class="title is-2">
          <span class="icon mr-2"><i class="fas fa-tags"></i></span> Tags
        </h1>
        <p class='subtitle'>{{ terms | length }} tags in total</p>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block content %}
{{ macros::render_taxonomies_table(icon="fas fa-tag") }}
{% endblock content %}