{% macro social_links(social_config) %}
  <p class="has-text-centered">
    {% if social_config.twitter %}
      <a class="link" href="https://twitter.com/{{ social_config.twitter }}" target="_blank">
        <span class="icon is-medium">
          <i class="fab fa-twitter fa-lg"></i>
        </span>
      </a>
    {% endif %}
    {% if social_config.github %}
      <a class="link" href="https://github.com/{{ social_config.github }}" target="_blank">
        <span class="icon is-medium">
          <i class="fab fa-github fa-lg"></i>
        </span>
      </a>
    {% endif %}
    {% if social_config.stackoverflow %}
      <a class="link" href="https://stackoverflow.com/users/{{ social_config.stackoverflow }}" target="_blank">
        <span class="icon is-medium">
          <i class="fab fa-stack-overflow fa-lg"></i>
        </span>
      </a>
    {% endif %}
    {% if social_config.email %}
    <a class="link" href="mailto:{{ social_config.email }}" target="_blank">
      <span class="icon is-medium">
        <i class="far fa-envelope fa-lg"></i>
      </span>
    </a>
    {% endif %}
    {% if config.generate_feed %}
      <a class="link" href='{{ config.base_url }}/{{ config.feed_filename }}' target="_blank">
        <span class="icon is-medium">
          <i class="fas fa-rss fa-lg"></i>
        </span>
      </a>
    {% endif %}
  </p>
{% endmacro %}
{% macro  page_publish_metadata(page) %}
  <p class="has-text-grey">
    {% if page.date %}
    <span class="icon">
      <i class="fas fa-user"></i>
    </span>
    {{ config.extra.author.name }} published on
    <span class="icon">
      <i class="far fa-calendar-alt"></i>
    </span>
    <time datetime='{{ page.date }}'>{{ page.date | date(format='%B %d, %Y') }}</time>
    {% else %}
    <span class="icon">
      <i class="far fa-edit"></i>
    </span>
    <span>...</span>
    {% endif %}
  </p>
{% endmacro %}
{% macro page_content_metadata(page) %}
  <p class="has-text-grey">
    <span class="icon">
      <i class="far fa-clock"></i>
    </span>
    {{ page.reading_time }} min,
    <span class="icon">
      <i class="fas fa-pencil-alt"></i>
    </span>
    {{ page.word_count }} 字
  </p>
{% endmacro %}

{% macro render_taxonomies(taxonomies) %}
  {% for name, terms in taxonomies %}
  <p>
    <span class="has-text-black has-text-weight-normal">{{ name | title }}:</span>
    {% for term in terms %}
      <a class="link has-text-weight-light" href='{{ get_taxonomy_url(kind=name, name=term) }}'>
        <span class="icon is-small">
          <i class="fas fa-tag fa-xs"></i>
        </span>
        {{ term }}
      </a>
    {% endfor %}
  </p>
  {% endfor %}
{% endmacro %}

{% macro render_taxonomies_with_icon(tag, type, icon) %}
<span class="my-3 mx-2" style="display: inline-block;">
  <a class="link" href="{{ get_taxonomy_url(kind=type, name=tag.name) }}">
    <span class="icon"><i class="{{ icon }}"></i></span>{{ tag.name }}<sup>{{ tag.pages | length }}</sup>
  </a>
</span>
{% endmacro %}

{% macro render_taxonomies_table(icon) %}
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="is-fullwidth">
        <div class="table-container">
          {% set length = terms | length %}
          <!-- 每行元素个数 -->
          {% set row = 6 %}
          <table class="table table is-hoverable">
            <tbody>
            {% for tag in terms %}
              {% if loop.index % row == 1 %}
                <tr>
              {% endif %}
              <td>{{ macros::render_taxonomies_with_icon(tag=tag, type=taxonomy.name, icon=icon) }}</td>
              {% if loop.index % row == 0 or loop.index == length %}
                </tr>
              {% endif %}
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
{% endmacro %}
